<!DOCTYPE html>
<html>
<head>
  <title>GtAuth</title>
  <%= stylesheet_link_tag    "gt_auth/application", :media => "all" %>
  <%= javascript_include_tag "gt_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
